img{max-width: 100%;}
.popup{
    border:1px solid red;
    position: fixed;
    left:200px;
    top:200px;
    width:300px;
    background-color: #fff;
}
.popup-controler{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.popup-controler span{
    cursor: pointer;
    padding:0.4rem 1rem;
    border:1px solid #000;
}
.popup{
    transition:all 0.4s ease 0s;
    opacity: 1;
    pointer-events: auto;
    transform:scale(1);
}
.popup.hide{
    opacity: 0;
    pointer-events: none;
    /* 태그가 마우스에도 반응하지 않게함 */
    transform:scale(1.5);
}
