html{
    font-size: 20px;
    font-family: "Pretendard",sans-serif;
    font-weight: 400;
}
header{}
.common-frame{
    width:1600px;
    margin:0 auto;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
}
.gnb li{
}
.gnb a{
    height:100%;
    display: flex;
    align-items: center;
    padding:0 1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    height:700px;
    background: url(../img/banner-bg-ex6.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size:7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}
