.box{
  /* background-color: beige; */
  padding-top: 200px;  
}
*{margin:0;padding:0;}
header#scr{
    position: fixed;
    left:20px;
    top:20px;
    padding:10px;
    background-color: #fff;
    border-radius: 4px;
}
header#scr.on{
    background-color: lightcoral;
}
#current-count{
    color:darkcyan;
    font-weight: bold;
}
.rotate-box{
    border:1px solid #000;
    width:300px;
    height:300px;
    margin:0px auto;
    /* transform:rotate(35deg); */
    position:sticky;
    left:0;
    top:0;
}
.box>section{
    background:url("../img/bgwave.png") repeat-x 0% 0%;
    min-height:2000px;
    position:sticky;
    left:0;
    top:0;
}

