@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
        font-family: 'Pretendard',sans-serif;
    }
    .inner-frame{
        width:1440px;
        margin:0 auto;
        margin-top: 3.75rem;
        text-align: center;
    }
    .inner-frame h1{
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding:1rem 0;
        line-height: 1;
    }
    .desc{
        margin-bottom: 5rem;
        line-height: 140%;
    }
    .banner{
        height:441px;
        background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
        margin-bottom: 5rem;
    }

    .inner-frame h2{
        font-weight: 700;
        font-size:1.5rem;
        line-height: 100%;
        text-transform: uppercase;
        padding:.5rem 0;
        margin-bottom: 1rem;
    }
    .values li{
        margin-bottom: .5rem;
    }
    .values li:last-of-type{
        margin-bottom: 0;
    }


}