@charset "utf-8";

*{margin:0;padding:0;}
ul{list-style: none;}
img{max-width: 100%;}
a{color:inherit;text-decoration: inherit;}

html{
    background-color: #fff;
    color:#333;
}
.popup{
    position: fixed;
    width:300px;
    left:300px;
    top:300px;
    padding:30px;
    background-color: #fff;
    z-index: 3000;
    display: none;
}
.popup.on{
    display: block;
}
.popup-ctl{
    display: flex;
    justify-content: flex-end;
}
#btn-close{
    cursor: pointer;
}

.container{
    display: flex;
    overflow-x: hidden;
}
header{
    width:200px;
    background-color: rgb(39, 186, 244);
    position: relative;
    z-index: 1000;
}
main{
    /* width:calc(100% - 200px); */
    flex-grow: 1;
    position: relative;
}
.gnb{
    width:180px;
    margin:20px auto;
}
.gnb a{
    display: flex;
    width:180px;
    height:50px;
    align-items: center;
}
.gnb>li{
    position: relative;
}
.gnb>li>ul{
    position: absolute;
    left:180px;
    top:0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.91);
    color:#fff;
    width:100vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0s;
}
.gnb:hover>li>ul{
    opacity: 1;
    pointer-events: auto;
}
.gnb li:hover>a{
    background-color: skyblue;
    color:#fff;
}
.spotmenu{
    display: flex;
    font-size: 0.8rem;
    gap:10px;
    justify-content: center;
    text-decoration: underline;
}

.station{
    width:100%;
    height:400px;
}
.train{
    width:100%;
    height:100%;
    position: relative;
}
.train li{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    pointer-events: none;
    transition: all .6s ease 0s;
}
.train li img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.train li.on{
    opacity: 1;
    pointer-events: auto;
}
.direct{
    position: absolute;
    right:0;
    top:0;
    /* border:1px solid red; */
    background-color: #fff;
    padding:10px;
}
.direct a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    display: flex;
    gap:20px;
    padding:20px;
    height:200px;
    box-sizing: border-box;
    align-items: center;
}
.tab-menu{
    height:250px;
    padding:20px;
    box-sizing: border-box;
}
.tabs{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}
.tabs span{
    border:1px solid #000;
    padding:.2rem 1rem;
}
.tabs span.on{
    background-color: skyblue;
    color:#fff;
}
.notice{
    width:60%;
}
.notice li{
    display: flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    gap:20px;
}
.gallery img{
    height:100px;
}
.tab-desc>div{
    display: none;
}
.tab-desc>div.on{
    display: block;
}
footer{
    height:120px;
    display: flex;;
    background-color: #000;
    color:#fff;
    align-items: center;
}
.footmenu{
    display: flex;
    gap:10px;
    text-decoration: underline;
}