.ltr{
    transform:translateX(-20px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}
.ltr.on{
    transform:translateX(0px);
    opacity: 1;
}
.blur{
    filter: blur(50px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}
.blur.on{
    filter: blur(0px);
    opacity: 1;
}